{%  load static %}
<div class="testimonials" id="testimonials">
   <h2 class="main-title"> Nows </h2>
   <div class="container">
     <div class="box">
       <img src="{% static 'img/avatar-01.png'  %}" alt="" />
       <h3>Amr Hendawy</h3>
       <span class="title">Full Stack Developer</span>
       <h6>icoun </h6>
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus
         quaerat ducimus
       </p>
     </div>
     <div class="box">
       <img src="{% static 'img/avatar-03.png'  %}" alt="" />
       <h3>Sherief Ashraf</h3>
       <span class="title">Full Stack Developer</span>
       <h6>icoun </h6>
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus
         quaerat ducimus
       </p>
     </div>
     <div class="box">
       <img src="{% static 'img/avatar-03.png'  %}" alt="" />
       <h3>Osama Mohamed</h3>
       <span class="title">Full Stack Developer</span>
       <h6>icoun </h6>
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus
         quaerat ducimus
       </p>
     </div>
   </div>
 </div>