{% extends 'pages/base.html' %}
{% load static   %}

{% block content   %}

<!-- Start Services -->
<div class="services" id="services">
  <h2 class="main-title">Les semester </h2>
  <div class="container">
    
    <div class="box">

      <div class="info">
        <h6>Semester 1</h6>
       
        {% for tag in tags_1 %}
          <a href="{{ tag.get_absolute_url }}"  class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %} 
        {% for tag in tags_2 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_3 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>          {% endfor  %}
           
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
      </div>
    
    </div>
   
    <div class="box">
      <div class="info">
        <h6>Semester 2</h6> 
        {% for tag in tags_1 %}
          <a href="{{ tag.get_absolute_url }}"  class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %} 
        {% for tag in tags_2 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_3 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>          {% endfor  %}
           
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
      </div>
    </div>
    <div class="box">
      <div class="info">
        <h6>Semester 3</h6> 
        {% for tag in tags_1 %}
          <a href="{{ tag.get_absolute_url }}"  class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %} 
        {% for tag in tags_2 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_3 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>          {% endfor  %}
           
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
      </div>
    </div>
    <div class="box">
      <div class="info">
        <h6>Semester 4</h6> 
        {% for tag in tags_1 %}
          <a href="{{ tag.get_absolute_url }}"  class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %} 
        {% for tag in tags_2 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_3 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>          {% endfor  %}
           
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
      </div>
    </div>
    <div class="box">
      <div class="info">
        <h6>Semester 5</h6> 
        {% for tag in tags_1 %}
          <a href="{{ tag.get_absolute_url }}"  class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %} 
        {% for tag in tags_2 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_3 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>          {% endfor  %}
           
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
      </div>
    </div>
    <div class="box">
      <div class="info">
        <h6>Semester 6</h6> 
        {% for tag in tags_1 %}
          <a href="{{ tag.get_absolute_url }}"  class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %} 
        {% for tag in tags_2 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_3 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>          {% endfor  %}
           
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
           <a href="{{ tag.get_absolute_url }}" class="btn btn-warning">  {{tag.title}}</a>
         {% endfor  %}
      </div>
    </div>
  </div>
</div>

<!-- End Services -->
<!-- cors 
<h1 class="title">Cours and exercec </h1>
<div class="tabContainer">
    <div class="buttonContainer">
        <button onclick="showPanel(0,'#f44336')">Section 1 </button>
        <button onclick="showPanel(1,'#4caf50')">Section 2</button>
        <button onclick="showPanel(2,'#2196f3')">Section 3</button>
        <button onclick="showPanel(3,'#ff5722')">Outer Oerves </button>
    </div>
    <div class="tabPanel">
        {% for tag in tags_1 %}
          <a href="{{ tag.get_absolute_url }}"  class="btn btn-success">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_2 %}
          <a href="{{ tag.get_absolute_url }}" class="btn btn-success">  {{tag.title}}</a>
        {% endfor  %}
        {% for tag in tags_3 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-success">  {{tag.title}}</a>
         {% endfor  %}
         {% for tag in tags_4 %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-success">  {{tag.title}}</a>
         {% endfor  %}
    </div>
    <div class="tabPanel">Tab 2:Content</div>
    <div class="tabPanel">Tab 3:Content</div>
    <div class="tabPanel">Tab 4:Content</div>
</div> -->
<br><br>
<!-- end cours -->
     <!-- start   All books  -->
     <div class="services" id="services">
     <section >
      
      <h2 class="main-title"> Latest Books  </h2>
        <div class="container-fluid">
          <div class="row p-5" style="padding-left: 17% !important;">
            {% for book in books|slice:':6' %}
            <div>
              <div class="card m-2" style="width:18rem; ">
                <img src="{{book.u_image.url}}" class="card-img-top" height="300px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{book.title}}</h5>
                  <p class="card-text">{{book.author}}</p>
                  <a href="{% url 'book_detail' book.slug %}" class="btn btn-info">Show Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    
      </section>
     </div>
      <hr>
   

      {% include 'partials/_alerts.html'  %}
      {% include 'partials/_footer.html'  %}
      <!-- end    All books  -->

{% endblock content   %}